* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;

}

.grid-container {
    margin: 0;
    display: grid;
    grid-template-columns: 1.5fr 0.6fr;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .grid-item1 {
        .left {
            background: url('../../assets/images/background.svg') center center no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .image-banner {
                background: url('../../assets/images/banner.svg') center center no-repeat;
                background-size: contain;
                height: 55%;
                width: 55%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-bottom: 18%;

                .text-1 {
                    font-family: Helvetica;
                    font-size: 2.5vw;
                    /* Điều chỉnh font-size theo vw */
                    font-weight: 400;
                    line-height: 1.2em;
                    /* Sử dụng em cho line-height */
                    margin-top: 94%;
                    /* Điều chỉnh margin theo vh */
                    width: 100%;
                    /* Đảm bảo text chiếm toàn bộ chiều rộng của container */
                    color: rgba(86, 128, 249, 1);
                }

                .text-2 {
                    line-height: 1.2em;
                    font-size: 1.5vw;
                    line-height: 1.2em;
                    margin-top: 1%;
                    font-family: 'Quicksand';
                    font-weight: 500;
                    line-height: 30px;
                    text-align: center;
                    color: rgba(86, 128, 249, 1);
                }

                .pagination {
                    margin-top: 2%;
                    margin-left: 27%;
                    width: 20%;
                    transform: translateX(-50%);
                    display: flex;
                    gap: 10px;
                    margin-bottom: 3%;
                    cursor: pointer;

                    .dot {
                        width: 10px;
                        height: 10px;
                        background-color: rgba(86, 128, 249, 0.5);
                        border-radius: 50%;
                        cursor: pointer;
                        transition: background-color 0.3s;
                    }
                }
            }
        }
    }

    .grid-item2 {
        .form-forgot-password {
            border: 1px rgba(255, 255, 255, 1) solid;
            width: 22vw;
            height: 58vh;
            margin-top: 45%;
            margin-left: 10%;
            box-shadow: 0px 4px 24px 0px rgba(86, 85, 210, 0.24);
            background: rgba(255, 255, 255, 1);
            border-radius: 16px;
            min-height: 385px;
            display: grid;
            grid-template-rows: 1.5fr 8.5fr;

            .header-fp {
                border-radius: 16px 16px 0px 0px;
                background: rgba(238, 0, 51, 1);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 4%;

                .caption-fp {
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 500;
                    font-size: 2.2vh;
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }

                .turn-back {
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 700;
                    font-size: 1.5vh;
                    color: rgba(255, 255, 255, 1);
                    text-decoration: none;
                }
            }

            .form-content {
                .img-fp {
                    text-align: center;
                    width: 100%;
                    height: 20vh;
                }

                .question {
                    height: auto;
                    width: auto;
                    font-size: 2.5vh;
                    margin: 0 7%;
                    color: rgba(238, 0, 51, 1);
                    font-weight: 700;
                    margin-bottom: 3%;
                }

                .advice {
                    height: auto;
                    width: auto;
                    font-size: 2vh;
                    margin: 0 7%;
                    color: black;
                    font-weight: 400;
                }

                .input-fp {
                    margin: 4% 7%;


                    .form-group {
                        display: flex;
                        margin-bottom: 3px;
                        flex-direction: column;

                        .form-control {
                            padding: 2%;
                            border: 1px solid rgba(181, 181, 195, 1);
                            border-radius: 5px;
                            width: 100%;
                        }

                        .form-message {
                            font-size: 0.85rem;
                            line-height: 0.8rem;
                            padding: 10px 0px 0px 3px;
                            color: #f33a58;
                        }
                    }

                    .form-group.invalid {
                        .form-control {
                            border-color: #f33a58;
                        }

                        .form-message {}
                    }
                }

                .btn-FP {
                    margin: 2% 7%;
                    padding: 2%;
                    background: rgba(208, 210, 213, 1);
                    border-radius: 5px;
                    width: 87%;
                    border: none;
                    outline: none;
                    color: white;
                }

            }
        }

        .form-send-code {
            border: 1px rgba(255, 255, 255, 1) solid;
            width: 22vw;
            height: 58vh;
            margin-top: 45%;
            margin-left: 10%;
            box-shadow: 0px 4px 24px 0px rgba(86, 85, 210, 0.24);
            background: rgba(255, 255, 255, 1);
            border-radius: 16px;
            min-height: 385px;
            grid-template-rows: 1.5fr 8.5fr;
            // display: none;

            .header-sc {
                border-radius: 16px 16px 0px 0px;
                background: rgba(238, 0, 51, 1);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 4%;

                .caption-sc {
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 500;
                    font-size: 2.3vh;
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }

                .turn-back-sc {
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 700;
                    font-size: 1.5vh;
                    color: rgba(255, 255, 255, 1);
                    text-decoration: none;
                }
            }

            .form-content-sc {
                .img-sc {
                    text-align: center;
                    width: 100%;
                    height: 20vh;
                }

                .tittle-sc {
                    height: auto;
                    width: auto;
                    font-size: 2.5vh;
                    margin: 0 7%;
                    color: rgba(238, 0, 51, 1);
                    font-weight: 700;
                    margin-bottom: 3%;
                }

                .advice-sc {
                    height: auto;
                    width: auto;
                    font-size: 2vh;
                    margin: 0 7%;
                    color: black;
                    font-weight: 400;
                }

                .input-sc {
                    margin: 4% 7%;

                    .form-group {
                        display: flex;
                        margin-bottom: 3px;
                        flex-direction: column;

                        .s {
                            display: flex;

                            .form-control {
                                padding: 2%;
                                border: 1px solid rgba(181, 181, 195, 1);
                                border-radius: 5px;
                                width: 100%;
                            }
                        }

                        .form-message {
                            font-size: 0.85rem;
                            line-height: 0.8rem;
                            padding: 10px 0px 0px 3px;
                            color: #f33a58;
                        }
                    }

                    .form-group.invalid {
                        .form-control {
                            border-color: #f33a58;
                        }

                        .form-message {}
                    }

                    .btn-resend-code {
                        border-radius: 0px 8px 8px 0px;
                        border: 1px solid rgba(86, 128, 249, 1);
                        background-color: white;
                        color: rgba(86, 128, 249, 1);
                        font-size: 1.5vh;
                        width: 30%;
                    }
                }

                .btn-SC {
                    margin: 2% 7%;
                    padding: 2%;
                    background: rgba(208, 210, 213, 1);
                    border-radius: 5px;
                    width: 87%;
                    border: none;
                    outline: none;
                    color: white;
                }
            }
        }

        .form-new-password1 {
            border: 1px rgba(255, 255, 255, 1) solid;
            width: 22vw;
            height: 65vh;
            margin-top: 45%;
            margin-left: 10%;
            box-shadow: 0px 4px 24px 0px rgba(86, 85, 210, 0.24);
            background: rgba(255, 255, 255, 1);
            border-radius: 16px;
            min-height: 385px;
            grid-template-rows: 1.5fr 8.5fr;
            // display: none;

            .header-npw {
                border-radius: 16px 16px 0px 0px;
                background: rgba(238, 0, 51, 1);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 4%;

                .caption-npw {
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 500;
                    font-size: 2.3vh;
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }

                .turn-back-npw {
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 700;
                    font-size: 1.5vh;
                    color: rgba(255, 255, 255, 1);
                    text-decoration: none;
                }
            }

            .form-content-npw {
                .img-npw {
                    text-align: center;
                    width: 100%;
                    height: 20vh;
                }

                .tittle-npw {
                    height: auto;
                    width: auto;
                    font-size: 2.5vh;
                    margin: 0 7%;
                    color: rgba(238, 0, 51, 1);
                    font-weight: 700;
                    margin-bottom: 3%;
                }

                .advice-npw {
                    height: auto;
                    width: auto;
                    font-size: 2vh;
                    margin: 0 7%;
                    color: black;
                    font-weight: 400;
                }

                .input-npw {
                    margin: 4% 7%;
                    display: flex;
                    flex-direction: column;

                    .form-group {
                        display: flex;
                        margin-bottom: 3px;
                        flex-direction: column;

                        .IAT {
                            display: flex;
                            position: relative;

                            .form-control {
                                padding: 3%;
                                border: 1px solid rgba(181, 181, 195, 1);
                                border-radius: 5px;
                                width: 100%;
                            }

                            span {
                                font-size: 1.2vh;
                                position: absolute;
                                left: 3.8%;
                                top: 18.7%;
                                color: rgba(86, 128, 249, 1);
                                font-weight: 600;
                            }

                            .showpw {
                                position: absolute;
                                width: auto;
                                height: 2.8vh;
                                top: 28%;
                                right: 3%;
                            }
                        }

                        .form-message {
                            font-size: 0.85rem;
                            line-height: 0.8rem;
                            margin: 2% 3%;
                            color: #f33a58;
                        }
                    }

                    .form-group.invalid {
                        .form-control {
                            border-color: #f33a58;
                        }

                        .form-message {}
                    }

                    .form-control {
                        padding: 5%;
                        border: 1px solid rgba(181, 181, 195, 1);
                        border-radius: 5px;
                        width: 100%;
                        margin: 2%;
                    }


                }

                .btn-NPW {
                    margin: 0% 2% 8% 8%;
                    padding: 2%;
                    background: rgba(208, 210, 213, 1);
                    border-radius: 5px;
                    width: 87%;
                    border: none;
                    outline: none;
                    color: white;
                }
            }
        }
    }

    .change-lang {
        width: auto;
        display: flex;
        gap: 3px;
        position: absolute;
        left: 90%;
        right: 10%;
        top: 5%;
        bottom: 95%;
        cursor: pointer;

        .text {
            white-space: nowrap;
        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .grid-container .grid-item2 .form-input {
        margin-left: 6%;
        margin-top: 75%;
        width: 90%;
        height: 42vh;
        min-height: 380px;
    }

    .grid-container .grid-item2 .form-forgot-password {
        margin-left: 6%;
        margin-top: 75%;
        width: 90%;
        height: 42vh;
        min-height: 380px;
    }

    .grid-container .grid-item2 .form-send-code {
        margin-left: 6%;
        margin-top: 75%;
        width: 90%;
        height: 42vh;
        min-height: 380px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 0.8fr;
    }

    .grid-container .grid-item1 .left .image-banner {
        width: 85%;
    }

    .grid-container .grid-item1 .left .image-banner .text-1 {
        font-size: 3vw;
    }

    .grid-container .grid-item1 .left .image-banner .text-2 {
        font-size: 2vw;
    }

    .grid-container .grid-item2 .form-forgot-password {
        margin-left: 6%;
        margin-top: 75%;
        width: 90%;
        height: 38vh;
        min-height: 380px;
    }

    .grid-container .grid-item2 .form-send-code {
        margin-left: 6%;
        margin-top: 75%;
        width: 90%;
        height: 38vh;
        min-height: 380px;
    }

    .grid-container .grid-item2 .form-new-password1 {
        margin-left: 6%;
        margin-top: 75%;
        width: 90%;
        height: 44vh;
        min-height: 380px;
    }

    .grid-container .change-lang {
        left: 85%;
        right: 15%;
    }

    .grid-container .grid-item2 .form-forgot-password .form-content .img-fp {
        height: 15vh;
    }

    .grid-container .grid-item2 .form-forgot-password .header-fp .turn-back {
        font-size: 1vh;
    }

    .grid-container .grid-item2 .form-forgot-password .header-fp .caption-fp {
        font-size: 1.5vh;
    }

    .grid-container .grid-item2 .form-forgot-password .form-content .question {
        font-size: 1.9vh;
    }

    .grid-container .grid-item2 .form-forgot-password .form-content .advice {
        font-size: 1.3vh;
    }

    .grid-container .grid-item2 .form-send-code .form-content-sc .img-sc {
        height: 15vh;
    }

    .grid-container .grid-item2 .form-send-code .header-sc .turn-back-sc {
        font-size: 1vh;
    }

    .grid-container .grid-item2 .form-send-code .header-sc .caption-sc {
        font-size: 1.5vh;
    }

    .grid-container .grid-item2 .form-send-code .form-content-sc .tittle-sc {
        font-size: 1.9vh;
    }

    .grid-container .grid-item2 .form-send-code .form-content-sc .advice-sc {
        font-size: 1.3vh;
    }

    .grid-container .grid-item2 .form-new-password1 .form-content-npw .img-npw {
        height: 13vh;
    }

    .grid-container .grid-item2 .form-new-password1 .header-npw .turn-back-npw {
        font-size: 1vh;
    }

    .grid-container .grid-item2 .form-new-password1 .header-npw .caption-npw {
        font-size: 1.5vh;
    }

    .grid-container .grid-item2 .form-new-password1 .form-content-npw .tittle-npw {
        font-size: 1.9vh;
    }

    .grid-container .grid-item2 .form-new-password1 .form-content-npw .advice-npw {
        font-size: 1.3vh;
    }

    .grid-container .grid-item2 .form-new-password1 .form-content-npw .input-npw .IAT span {
        font-size: 0.95vh;
    }

    .alert {
        left: 65%;
        width: 30vw;
    }

    .grid-container .change-lang {
        left: 85%;
        right: 15%;
    }
}

@media only screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
        background: url('../../assets/images/background.svg')center center no-repeat;
        background-size: cover;
    }

    .grid-container .grid-item1 .left {
        background: none;
    }

    .grid-container .grid-item1 .image-banner {
        width: 85%;
    }

    .grid-container .grid-item1 .image-banner .text-1 {
        font-size: 5vw;
    }

    .grid-container .grid-item1 .image-banner .text-2 {
        font-size: 3.5vw;
    }

    .grid-container .grid-item2 .form-forgot-password {
        margin-top: -18%;
        margin-left: 11%;
        width: 78%;
        height: 100%;
        min-height: 385px;
    }

    .grid-container .grid-item2 .form-send-code {
        margin-top: -18%;
        margin-left: 11%;
        width: 78%;
        height: 100%;
        min-height: 385px;
    }

    .grid-container .grid-item2 .form-new-password1 {
        margin-top: -18%;
        margin-left: 11%;
        width: 78%;
        height: 100%;
        min-height: 385px;
    }

    .grid-container .change-lang {
        left: 68%;
        right: 32%;
    }

    .grid-container .grid-item2 .form-forgot-password .form-content .img-fp {
        height: 15vh;
    }

    /* .question{
        font-size: 2vh;
    } */
    .grid-container .grid-item2 .form-forgot-password .form-content .advice {
        font-size: 1.4vh;
    }

    .grid-container .grid-item2 .form-send-code .form-content-sc .img-sc {
        height: 15vh;
    }

    .grid-container .grid-item2 .form-send-code .form-content-sc .advice-sc {
        font-size: 1.4vh;
    }

    .grid-container .grid-item2 .form-new-password1 .form-content-npw .img-npw {
        height: 13vh;
    }

    .grid-container .grid-item2 .form-new-password1 .form-content-npw .advice-npw {
        font-size: 1.4vh;
    }

    .grid-container .grid-item2 .form-new-password1 .form-content-npw .input-npw .IAT span {
        font-size: 1.2vh;
    }

    .alert {
        left: 45%;
        width: 53vw;
        background: white;
    }
}