<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="grid-container">
        <div class="grid-item1">
            <div class="left">
                <div class="image-banner">
                    <div class="text-1">Hệ thống quản lý chat đa nền tảng</div>
                    <div class="text-2">Tiết kiệm thời gian tư vấn và chăm sóc khách hàng</div>
                    <div class="pagination">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item2">
            <form [formGroup]="profileForm" *ngIf="isShowForm1 ; else otherform">
                <div class="form-forgot-password" id="fomrFP">
                    <div class="header-fp">
                        <div> <a class="turn-back" [routerLink]="['/login']" [routerLinkActive]="'active-link'"> &#8249;
                                Quay lại</a></div>
                        <div class="caption-fp">Quên mật khẩu</div>
                        <div style="color: transparent;">aaaaaa</div>
                    </div>
                    <div class="form-content">
                        <img src="../../assets/images/aaa.svg" alt="" class="img-fp">
                        <div class="question">Bạn đã quên mật khẩu?</div>
                        <div class="advice">Đừng lo lắng, hãy nhập tài khoản hoặc email của bạn ở dưới để tìm kiếm tài
                            khoản của bạn</div>
                        <div class="input-fp">
                            <div class="form-group">
                                <input type="text" name="emailFp" id="emailFp" class="form-control"
                                    placeholder="Nhập tài khoản/email" formControlName="email" />
                                <span class="form-message"
                                    *ngIf="(profileForm.controls.email.dirty || profileForm.controls.email.touched)&&profileForm.controls.email.errors?.['required']">Bạn
                                    chưa nhập tài khoản</span>
                                <span class="form-message"
                                    *ngIf="profileForm.controls.email.value&&profileForm.controls.email.errors?.['email']">Tài
                                    khoản phải là gmail</span>
                            </div>
                        </div>
                        <button type="submit" id="btnFP" class="btn-FP"
                            [ngStyle]="{'background-color':profileForm.controls.email.value?'red':'' }"
                            (click)="changeForm(profileForm.controls.email.valid)">Tiếp
                            tục</button>
                    </div>
                </div>
            </form>
            <ng-template #otherform >
                <form action="" [formGroup]="formSendCode" [ngStyle]="{'display':isShowForm2?'none':'' }">
                    <div class="form-send-code" id="formSC">
                        <div class="header-sc">
                            <div> <a class="turn-back-sc" [routerLink]="['/login']" [routerLinkActive]="'active-link'">
                                    &#8249; Quay lại</a>
                            </div>
                            <div class="caption-sc">Quên mật khẩu</div>
                            <div style="color: transparent;">aaaaaa</div>
                        </div>
                        <div class="form-content-sc">
                            <img src="../../assets/images/img2.svg" alt="" class="img-sc">
                            <div class="tittle-sc">Kiểm tra mail</div>
                            <div class="advice-sc">Chúng tôi đã gửi cho bạn mã xác nhận. Vui lòng kiểm tra mã trong
                                email
                                của bạn.</div>

                            <div class="input-sc">
                                <div class="form-group">
                                    <div class="s">
                                        <input type="text" name="emailSc" id="emailSc" class="form-control"
                                            placeholder="Nhập mã" formControlName="code" /><button
                                            class="btn-resend-code">Gửi
                                            lại mã</button>
                                    </div>
                                    <span class="form-message"
                                        *ngIf="(formSendCode.controls.code.dirty || formSendCode.controls.code.touched)&&formSendCode.controls.code.errors?.['required']">Bạn
                                        chưa nhập mã</span>
                                </div>

                                <button id="btnSC" type="submit" class="btn-SC" (click)="changeForm2()"
                                    [ngStyle]="{'background-color':formSendCode.controls.code.value?'red':'' }">Tiếp
                                    tục</button>
                            </div>
                        </div>

                    </div>
                </form>
            </ng-template>


            <form action="" *ngIf="isShowForm2" [formGroup]="formNPW">
                <div class="form-new-password1" id="formNP">
                    <div class="header-npw">
                        <div><a class="turn-back-npw" [routerLink]="['/login']" [routerLinkActive]="'active-link'">&#8249; Quay lại</a></div>
                        <div class="caption-npw">Quên mật khẩu</div>
                        <div style="color: transparent;">aaaaaa</div>
                    </div>
                    <div class="form-content-npw">
                        <img src="../../assets/images/newpw.svg" alt="" class="img-npw">
                        <div class="tittle-npw">Tạo mật khẩu mới</div>
                        <div class="advice-npw">Mật khẩu mới của bạn phải khác với mật khẩu cũ đã được sử dụng.</div>
                        <div class="input-npw">
                            <div class="form-group">
                                <div class="IAT"><span>Mật khẩu mới</span><input type="password" id="enter-npw"
                                        name="enter-npw" class="form-control" formControlName="newpassword"><img class="showpw"
                                        src="../../assets/images/showpw.svg"></div>
                                        <span class="form-message"
                                        *ngIf="formNPW.controls.newpassword.value&&formNPW.controls.newpassword.errors?.['minlength']">Mật
                                        khẩu phải trên 6 kí tự</span>
                                    <span class="form-message"
                                        *ngIf="(formNPW.controls.newpassword.dirty || formNPW.controls.newpassword.touched)&&formNPW.controls.newpassword.errors?.['required']">Bạn
                                        chưa nhập mật khẩu mới</span>
                            </div>
                            <div class="form-group">
                                <div class="IAT"><span>Nhập lại khẩu mới</span><input type="password" id="renter-npw"
                                        name="enter-npw" class="form-control" formControlName="reenterpassword"><img class="showpw"
                                        src="../../assets/images/showpw.svg"></div>
                                        <span class="form-message"
                                        *ngIf="(formNPW.controls.reenterpassword.dirty || formNPW.controls.reenterpassword.touched)&&formNPW.controls.reenterpassword.errors?.['required']">Bạn
                                        chưa nhập lại mật khẩu mới</span>
                                        <span class="form-message"
                                        *ngIf="(formNPW.controls.reenterpassword.touched)&&formNPW.controls.newpassword.value!==formNPW.controls.reenterpassword.value&&!formNPW.controls.reenterpassword.errors?.['required']">Mật khẩu nhập lại chưa khớp</span>
                            </div>
                            <button id="btnNPW" type="submit" class="btn-NPW"  [ngStyle]="{'background-color':formNPW.controls.newpassword.valid&&formNPW.controls.reenterpassword.valid?'red':'' }">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="change-lang">
            <div class="earth"><img src="../../assets/images/earth.svg" alt="">
            </div>
            <div class="text">Tiếng Việt</div>
            <div class="drop-down"><img src="../../assets/images/drop.svg" alt=""></div>
        </div>
    </div>

</body>

</html>